.cartGrid{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1% 1%;
    text-align: center;
    vertical-align: middle;
}

.image{
    height: 90px;
    width: 90px;
}

.textDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.decreseQuantityButton{
    background-color: white;
    border: 1px solid #df1111;
    cursor: pointer;
}

.increaseQuantityButton{
    background-color: white;
    border: 1px solid #2eef3b;
    cursor: pointer;
}

.deleteCartProductButton{
    background-color: white;
    cursor: pointer;
    border: 1px solid #df1111;
}

.deleteIcon{
    color: #df1111;
}

.deleteCartProductButton:hover{
    box-shadow: 1px 1px 6px 2px #df1111;
    transition: 0.1px;
}


.deleteCartProductButton:active{
    background-color: #df1111;
    color: white;
    border: 1px solid white;
    box-shadow: none;
    transition: 0.7s;
    
}

.deleteCartProductButton:active i{
    color: white;
    transition: 0.7s;
}